* {
  box-sizing: border-box; }

body {
  font-size: 80%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #1abc9c; }

.header {
  font-weight: 300;
  font-size: 2em;
  margin-left: 10px; }
  .header .light {
    text-transform: lowercase;
    font-size: 1em; }

.circle {
  stroke: #FFFFFF;
  fill: #bdc3c7;
  opacity: 0.3;
  stroke-width: 1.5px; }

.node {
  cursor: pointer; }

.term {
  fill: #34495e;
  z-index: 10; }

.link {
  stroke: #999;
  stroke-opacity: .6; }

#GIB {
  float: left;
  width: 1250px; }

.topic {
  float: left;
  border: solid 1px #34495e;
  margin: 5px; }
