// Colors courtesy of Flat-UI
// http://designmodo.github.io/Flat-UI/
$clouds: #ECF0F1;
$silver: #BDC3C7;

$concrete: #95A5A6;
$asbestos: #7F8C8D;

$turquoise: #1ABC9C;
$turquoise-hover: lighten($turquoise, 20%);
$greensea: #16A085;
$greensea-hover: lighten($greensea, 20%);

$wetasphalt: #34495E;
$midnightblue: #2C3E50;

$alizarin: #E74C3C;
$emerald: #2ECC71;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$carrot: #E67E22;
$pumpkin: #D35400;

$belizehole: #2980B9;
$belizehole-hover: lighten($belizehole, 20%);
$peterriver: #3498DB;







